@{
    ViewData["Title"] = "Welcome";
}

@model IEnumerable<string>

<div class="m-5 d-inline-block bg-light">
    <br />
    <h2>Top 5 Restaurants in Provo</h2>
    <div>
        @foreach (string i in Model)
        {
            <p>@i</p>
        }
    </div>
</div>